body, html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
/* Nav */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #3333336c;
	border-color: #3333336c;
}
#menu a.navbar-brand {
	font-size: 22px;
	color: #d7e63e;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #bfc8e3;
	font-weight: 400;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #d7e63e;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #d7e63e;
	border-color: #bfc8e3;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #bfc8e3;
}
.section-title {
	margin-bottom: 70px;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 3px #bfc8e3;
	background-color: #d7e63e;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 17px;
	border-radius: 12px 0 12px 0;
	margin-top: 20px;
	transition: all 0.5s;
}

/* Head */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(/img/background1.png) no-repeat center bottom;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.40);
}
.intro h1 {
	color: #fff;
	font-size: 68px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
	letter-spacing: -1px;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 40px;
}
header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
	text-align: center;
}
/* Foot */
#footer {
	background: #333;
	padding: 50px 0 20px 0;
}
#footer .redes {
	margin-bottom: 50px;
}
#footer .redes ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .redes i.fa {
	font-size: 26px;
	padding: 4px;
	color: #a7c44c;
	transition: all 0.3s;
}
#footer .redes i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 15px;
}
#footer a {
	color: #999;
}
#footer a:hover {
	color: #a7c44c;
}
