* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin: 5px 0;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.input-group input:focus {
    outline: none;
    border-color: #7b9e89;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #45a049;
}

@media (min-width: 600px) {
    .container {
        width: 97%;
    }

    .input-group input, .input-group textarea {
        width: 100%;
    }

    .input-group button {
        width: 100%;
    }
}