@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");


:root {
  --text-color:#546e7a;
  --highlight-color:#8b8ad3;
  --animate-duration: 5s;
  --animate-repeat: 2;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
}
*, ::after, ::before {
  box-sizing: border-box;
}
/* index */
html {
    scroll-behavior:smooth;    
}
header {
  position:fixed;
  width:100%;
  background:#ffffff;
  height:50px;
  display:flex;
  align-items:center;
  z-index:999;
  border-bottom:1px solid #f1f1f1;
}
header .headerTitle{
  font-size:20px;
  margin-left:2em;
  margin-top:0px;
}
header .headerTitle a {
  color:var(--highlight-color);
  text-decoration:none;
}
header input {
  display:none;
}
header label {
  position:absolute;
  top:0;
  right:0;
  display:flex;
  margin-right:2em;
  align-items:center;
  justify-content:center;
  height:100%;
  background:var(--highlight-color);
  height:30px;
  width:40px;
  margin-top:10px;
}
header label span, 
header label span:before, 
header label span:after {
  position:relative;
  height: 2px;
  width: 1.3em;
  background:#ffffff;
  display:block;
}
header label span:before, 
header label span:after {
  content:"";
  position:absolute;
}
header label span:before {
  top:7px;
}
header label span:after {
  bottom:7px;
}
header nav {
  position:absolute;
  width:100%;
  top:100%;
  text-align: center;
  transform:scale(1,0);
  transition: transform 500ms ease;
  transform-origin:top;
  background:#ffffff;
}
header nav ul {
  list-style:none;
  margin:0;
  padding:0;
}
header nav ul li {
  margin-bottom:1em;
}
header nav ul li a {
  color:  var(--text-color);
  text-decoration:none;
  font-size:14px;
  opacity:0;
  transition:opacity 150ms ease-in-out;
}
header nav ul li.active {
  background:#f1f1f1;
  transition: 1s ease-in 500ms;
}
header nav ul li.active a {
  color:var(--highlight-color);;  
}
header nav ul li a:hover {
  color:var(--highlight-color);
}
header input:checked ~ nav {
  transform:scale(1,1);
}
header input:checked ~ nav a {
  opacity:1;
  transition:opacity 150ms ease-in-out 250ms;
}
.mainContainer {
  background-image:linear-gradient(var(--text-color),rgba(247, 247, 247, 0.151)), url('/img/backgroundMain.png');
  background-size:cover;
  background-position:center center;
  height:100vh;
  display:grid;
  justify-content:center;
  align-content:center;
  color:#fff;
  line-height:2.0;
  text-align:center;
}
.mainContainer h3{
  text-transform: uppercase;
  font-size: 2rem;
  }
.mainContainer h2{
  font-size: 1.5rem;
}
.mainContainer span{
  color: #ececec;
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.726);
}
.mainContainer p{
  font-size: 1.1rem;
  }
  .containerGallery {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
 }
  .sectionGallery {
    display:flex;
    align-items: center;
  }
  .titleGallery {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top:15px;
    font-weight: normal;
    line-height: 1.2;
    color:var(--text-color);
  }
  .titleGallery span {
    color: var(--highlight-color);
    font-size: 120%;
    font-weight: 900;
  }
  .contentGallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 460px));
    grid-gap: 20px;
  }
  .itemGallery{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30% 15px;
    position: relative;
    overflow: hidden;
  }
  .itemGallery span {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: #f1f1f1;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
  }
  .itemGallery::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s ease-in-out;
  }
  .itemGallery:hover::after {
    opacity: 0.2;
  }
  .itemGallery:hover span {
    transform: translateY(0);
  }
  .itemSizeGallery {
    grid-column: 2/4;
    grid-row: 1/3;
  }
.footerContainer{
  background-color:#7a6d6d5d;
  text-align:center;
  margin-top: 20px;
  padding-top: 10px;
}
.footerLinks {
  display:flex;
  justify-content: center;
}
.footerLinks i {
  color:#ffffff;
  font-size:1em;
  display:flex;
  justify-content:center;
  align-items:center;
  width:40px;
  height:40px;
  background:var(--highlight-color);
  border-radius: 50%;
}
.footerLinks a{
  display:inline-block;
  text-decoration:none;
  margin-right:10px;
}
.footerLinks a:hover .fa-facebook-f {
  background:#3b5998;
}
.footerLinks a:hover .fa-twitter {
  background:#55acee;
}
.footerLinks a:hover .fa-instagram {
  background:#517fa4;
}
.footerCopy{
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 10px;
  color: var(--highlight-color);
}
.footerCopy a{
  text-decoration: none;
  color: var(--highlight-color);
}
.footerCopy a:hover{
  color:#f1f1f1
}

/* Tienda */

.workingContainer{
  background:no-repeat url('/img/workProgress.png');
  background-position:center;
  height:50vh;
}
.loadingContainer{
  background:no-repeat url('/img/pacmanLoading.svg');
  background-position:center;
  height:50vh
}


@media (min-width:768px) {
  header input, header label {
    display:none;
  }
  header {
    display:grid;
    grid-template-columns:50px 200px 1fr 50px;
    align-content:center;
    height:70px;
  }
  header .headerTitle {
    grid-column:2/3;
    margin:0;
  }
  header nav {
    position:static;
    transform:none;
    transition:none;
    grid-column:3/4;
  }
  header nav ul {
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between;
  }
  header nav ul li {
    margin:0;
    padding:0;
  }
  header nav ul li a {
    opacity:1;
  }
  header nav ul li.active {
    background:none;
    transition:none;
  }
  .itemGallery {
    padding-top: 40%;
    padding-bottom: 40%;
  }
  .itemGallery span {
    font-size: 0.75rem;
  }
  
}
@media (min-width:992px) {
    header {
      grid-gap:40px;
    }
    .itemSizeGallery {
      grid-column: 3/3;
      grid-row: 2/3;
    }
  }
@media (min-width:1200px) {
    header  {
      grid-template-columns:150px 200px 1fr 150px;
      grid-gap:50px;
    }
    
  
}
